[Unit]
Description=Run Abvorn content cycle every 4 hours

[Timer]
OnCalendar=*-*-* 03:50:00
OnCalendar=*-*-* 09:50:00
OnCalendar=*-*-* 15:50:00
OnCalendar=*-*-* 21:50:00
Persistent=true

[Install]
WantedBy=timers.target